[submodule "qomicex-core-rust"]
	path = qomicex-core-rust
	url = git@github.com:Qomicex-Public/qomicex-core-rust.git
[submodule "qomicex-downloader-rust"]
	path = qomicex-downloader-rust
	url = git@github.com:Qomicex-Public/qomicex-downloader-rust.git
[submodule "qomicex-connector-rust"]
	path = qomicex-connector-rust
	url = git@github.com:Qomicex-Public/qomicex-connector-rust.git
